<!DOCTYPE html>
<html>
<body>



<form action="/dowithpicornote" method="GET","POST"">
  
  <p>Pic or Note</p>
  <input type="radio" name="picornoteinner" value="asinglepicture"> pictures
  <input type="radio" name="picornoteinner" value="note"> Notes<br>
  
  <p>set the subject or priority</p>
  <input type="radio" name="whattodoselection" value="set"> set the subject or priority<br>
  
  
  <input type="text" name="filename" value=""> filename
  <input type="text" name="subject" value="todo"> set the subject 
  <input type="text" name="priority" value="0"> set priority<br>
  <br>
  <br>  
  
  <p>sort them</p>
  <input type="radio" name="whattodoselection" value="sort"> sort them<br>
  <input type="radio" name="sort" value="uploadDate"> time<br>
  <input type="radio" name="sort" value="priority"> priority<br>
  <input type="radio" name="sort" value="subject"> subject<br>
  <br>
  <input type="submit" placeholder="submit" value="submit">
</form>


</body>
</html>